<?xml version="1.0" encoding="UTF-8"?>
<item version="1.00">
<basic id="<{$system.item_id}>">
<itemtype><{$system.itemtype}></itemtype>
<titles><{$basic.titles}></titles>
<contributor></contributor>
<keywords><{$basic.keywords}></keywords>
<description><{$basic.description}></description>
<doi><{$basic.doi}></doi>
<last_update_date><{$system.now}></last_update_date>
<creation_date><{$system.now}></creation_date>
<publication_year>0</publication_year>
<publication_month>0</publication_month>
<publication_mday>0</publication_mday>
<lang><{$basic.lang}></lang>
<url></url>
<changelogs>
</changelogs>
<{$basic.indexes}>
</basic>
<detail id="<{$system.item_id}>">
<data_file_name><{$file.files_file.original_file_name}></data_file_name>
<data_file_mimetype><{$file.files_file.mime_type}></data_file_mimetype>
<data_file_filetype><{$file.files_file.suffix}></data_file_filetype>
<{$file.files_file}>
</detail>
</item>
