<?xml version="1.0" encoding="UTF-8"?>
<item version="1.00">
<basic id="<{$system.item_id}>">
<itemtype><{$system.itemtype}></itemtype>
<titles><{$basic.titles}></titles>
<contributor></contributor>
<keywords><{$basic.keywords}></keywords>
<description><{$basic.description}></description>
<doi><{$basic.doi}></doi>
<last_update_date><{$system.now}></last_update_date>
<creation_date><{$system.now}></creation_date>
<publication_year><{$basic.publication_year}></publication_year>
<publication_month><{$basic.publication_month}></publication_month>
<publication_mday><{$basic.publication_mday}></publication_mday>
<lang><{$basic.lang}></lang>
<url></url>
<changelogs>
</changelogs>
<{$basic.indexes}>
</basic>
<detail id="<{$system.item_id}>" version="1.03">
<stimulus_type><{$detail.stimulus_type}></stimulus_type>
<developers><{$detail.developers}></developers>
<readme><{$detail.readme}></readme>
<rights><{$detail.rights}></rights>
<use_cc><{$detail.rights.use_cc}></use_cc>
<cc_commercial_use><{$detail.rights.cc_commercial_use}></cc_commercial_use>
<cc_modification><{$detail.rights.cc_modification}></cc_modification>
<attachment_dl_limit><{$detail.attachment_dl_limit}></attachment_dl_limit>
<attachment_dl_notify><{$detail.attachment_dl_notify}></attachment_dl_notify>
<{$file.stimulus_data}>
<{$file.preview}>
</detail>
</item>
