<?xml version="1.0" encoding="UTF-8"?>
<item version="1.00">
<basic id="<{$system.item_id}>">
<itemtype><{$system.itemtype}></itemtype>
<titles><{$basic.titles}></titles>
<contributor></contributor>
<keywords><{$basic.keywords}></keywords>
<description><{$basic.description}></description>
<doi><{$basic.doi}></doi>
<last_update_date><{$system.now}></last_update_date>
<creation_date><{$system.now}></creation_date>
<publication_year>0</publication_year>
<publication_month>0</publication_month>
<publication_mday>0</publication_mday>
<lang><{$basic.lang}></lang>
<url></url>
<changelogs>
</changelogs>
<{$basic.indexes}>
</basic>
<detail id="<{$system.item_id}>" version="1.02">
<url><{$detail.url}></url>
<{$file.url_banner_file}>
</detail>
</item>
