<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:article_title C:type="group">
    <{$article_title.essential_title}>
    <{$article_title.kana}>
    <{$article_title.romaji}>
  </C:article_title>
  <C:sub_title C:type="group">
    <{$sub_title.sub_title_title}>
    <{$sub_title.sub_title_kana}>
    <{$sub_title.sub_title_romaji}>
  </C:sub_title>
  <C:article_authors C:type="group">
    <{$article_authors.author_id}>
    <{$article_authors.name}>
    <{$article_authors.kana}>
    <{$article_authors.romaji}>
    <{$article_authors.author_affiliation}>
    <{$article_authors.author_affiliation_translation}>
    <{$article_authors.author_role}>
    <{$article_authors.author_link}>
  </C:article_authors>
  <C:edition C:type="group">
    <{$edition.edition}>
  </C:edition>
  <C:publish_place C:type="group">
    <{$publish_place.place}>
  </C:publish_place>
  <C:publisher C:type="group">
    <{$publisher.name}>
    <{$publisher.kana}>
    <{$publisher.romaji}>
  </C:publisher>
  <C:article_date C:type="group">
    <{$article_date.year_f}>
    <{$article_date.year_t}>
    <{$article_date.date_create}>
    <{$article_date.date_update}>
    <{$article_date.date_record}>
  </C:article_date>
  <C:physical_descriptions C:type="group">
    <{$physical_descriptions.physical_description}>
  </C:physical_descriptions>
  <C:jtitle C:type="group">
    <{$jtitle.name}>
    <{$jtitle.jtitle_translation}>
    <{$jtitle.jtitle_volume}>
    <{$jtitle.jtitle_issue}>
    <{$jtitle.jtitle_year}>
    <{$jtitle.jtitle_month}>
    <{$jtitle.jtitle_spage}>
    <{$jtitle.jtitle_epage}>
  </C:jtitle>
  <C:id_locals C:type="group">
    <{$id_locals.issn}>
    <{$id_locals.id_locals_isbn}>
    <{$id_locals.id_dois}>
    <{$id_locals.uri}>
    <{$id_locals.etc}>
  </C:id_locals>
  <C:jalc_doi C:type="group">
    <{$jalc_doi.jalc_doi}>
  </C:jalc_doi>
  <C:naid C:type="group">
    <{$naid.naid}>
  </C:naid>
  <C:ichushi C:type="group">
    <{$ichushi.ichushi}>
  </C:ichushi>
  <C:degree C:type="group">
    <{$degree.grant_id}>
    <{$degree.date_of_granted}>
    <{$degree.degree_name}>
    <{$degree.grantor}>
  </C:degree>
  <C:abstract C:type="group">
    <{$abstract.description}>
  </C:abstract>
  <C:table_of_contents C:type="group">
    <{$table_of_contents.table_of_contents}>
  </C:table_of_contents>
  <C:keywords C:type="group">
    <{$keywords.keyword}>
  </C:keywords>
  <C:ndc_classifications C:type="group">
    <{$ndc_classifications.ndc_classification}>
  </C:ndc_classifications>
  <C:notes C:type="group">
    <{$notes.note}>
  </C:notes>
  <C:langs_occurrence C:type="group">
    <{$langs_occurrence.lang}>
  </C:langs_occurrence>
  <C:type_of_resource C:type="group">
    <{$type_of_resource.type_of_resource}>
  </C:type_of_resource>
  <C:genre C:type="group">
    <{$genre.genre}>
  </C:genre>
  <C:textversion C:type="group">
    <{$textversion.textversion}>
  </C:textversion>
  <C:preview C:type="group">
    <{$preview.image}>
  </C:preview>
  <C:article_files C:type="group">
    <{$article_files.file}>
  </C:article_files>
  <C:uris C:type="group">
    <{$uris.uri}>
  </C:uris>
  <C:access_condition C:type="group">
    <{$access_condition.access_condition}>
  </C:access_condition>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>
