<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:langs C:type="group">
    <{$langs.lang}>
  </C:langs>
  <C:isbn C:type="group">
    <{$isbn.isbn}>
  </C:isbn>
  <C:essential_titles C:type="group">
    <{$essential_titles.essential_title}>
  </C:essential_titles>
  <C:free_keywords C:type="group">
    <{$free_keywords.keyword}>
  </C:free_keywords>
  <C:outline C:type="group">
    <{$outline.description}>
  </C:outline>
  <C:authors C:type="group">
    <{$authors.name}>
  </C:authors>
  <C:editor C:type="group">
    <{$editor.editor}>
  </C:editor>
  <C:publisher_name C:type="group">
    <{$publisher_name.publisher_name}>
  </C:publisher_name>
  <C:publication_year C:type="group">
    <{$publication_year.publication_year}>
  </C:publication_year>
  <C:url C:type="group">
    <{$url.url}>
  </C:url>
  <C:pdf_files C:type="group">
    <{$pdf_files.file}>
  </C:pdf_files>
  <C:download_limitation C:type="group">
    <{$download_limitation.attachment_dl_limit}>
  </C:download_limitation>
  <C:download_notification C:type="group">
    <{$download_notification.attachment_dl_notify}>
  </C:download_notification>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>
