<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:langs C:type="group">
    <{$langs.lang}>
  </C:langs>
  <C:ctitle C:type="group">
    <{$ctitle.ctitle}>
  </C:ctitle>
  <C:conference_place C:type="group">
    <{$conference_place.conference_place}>
  </C:conference_place>
  <C:date_from C:type="group">
    <{$date_from.essential_date}>
  </C:date_from>
  <C:date_to C:type="group">
    <{$date_to.essential_date}>
  </C:date_to>
  <C:conference_presentation_title C:type="group">
    <{$conference_presentation_title.conference_description_title}>
  </C:conference_presentation_title>
  <C:presenters C:type="group">
    <{$presenters.presenter}>
  </C:presenters>
  <C:presentation_abstract C:type="group">
    <{$presentation_abstract.description}>
  </C:presentation_abstract>
  <C:conference_presentation_file C:type="group">
    <{$conference_presentation_file.conference_presentation_file}>
  </C:conference_presentation_file>
  <C:conference_presentation_type C:type="group">
    <{$conference_presentation_type.conference_presentation_type}>
  </C:conference_presentation_type>
  <C:conference C:type="group">
    <{$conference.file}>
  </C:conference>
  <C:download_limitation C:type="group">
    <{$download_limitation.attachment_dl_limit}>
  </C:download_limitation>
  <C:download_notification C:type="group">
    <{$download_notification.attachment_dl_notify}>
  </C:download_notification>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>