<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:langs C:type="group">
    <{$langs.lang}>
  </C:langs>
  <C:essential_titles C:type="group">
    <{$essential_titles.essential_title}>
  </C:essential_titles>
  <C:free_keywords C:type="group">
    <{$free_keywords.keyword}>
  </C:free_keywords>
  <C:outline C:type="group">
    <{$outline.description}>
  </C:outline>
  <C:essential_date C:type="group">
    <{$essential_date.essential_date}>
  </C:essential_date>
  <C:data_type C:type="group">
    <{$data_type.data_type}>
  </C:data_type>
  <C:experimenters C:type="group">
    <{$experimenters.experimenters_name}>
  </C:experimenters>
  <C:preview C:type="group">
    <{$preview.image}>
  </C:preview>
  <C:data_files C:type="group">
    <{$data_files.essential_file}>
  </C:data_files>
  <C:download_limitation C:type="group">
    <{$download_limitation.attachment_dl_limit}>
  </C:download_limitation>
  <C:download_notification C:type="group">
    <{$download_notification.attachment_dl_notify}>
  </C:download_notification>
  <C:readme C:type="group">
    <{$readme.readme}>
  </C:readme>
  <C:rights C:type="group">
    <{$rights.rights}>
  </C:rights>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>