<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:langs C:type="group">
    <{$langs.lang}>
  </C:langs>
  <C:title C:type="group">
    <{$title.title}>
  </C:title>
  <C:essential_files C:type="group">
    <{$essential_files.essential_file}>
  </C:essential_files>
  <C:free_keywords C:type="group">
    <{$free_keywords.keyword}>
  </C:free_keywords>
  <C:outline C:type="group">
    <{$outline.description}>
  </C:outline>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>