<?xml version="1.0"?>
<C:item xmlns:C="http://xoonips.sourceforge.jp/xoonips/item/" C:item_type_name="<{$system.itemtype}>" C:item_id="<{$system.item_id}>">
  <C:doi C:type="group">
    <{$doi.doi}>
  </C:doi>
  <C:langs C:type="group">
    <{$langs.lang}>
  </C:langs>
  <C:essential_titles C:type="group">
    <{$essential_titles.essential_title}>
  </C:essential_titles>
  <C:free_keywords C:type="group">
    <{$free_keywords.keyword}>
  </C:free_keywords>
  <C:outline C:type="group">
    <{$outline.description}>
  </C:outline>
  <C:essential_url C:type="group">
    <{$essential_url.essential_url}>
  </C:essential_url>
  <C:hits C:type="group">
    <C:hits C:type="extend" C:occurrence_number="1"></C:hits>
  </C:hits>
  <C:banner_file C:type="group">
    <{$banner_file.image}>
  </C:banner_file>
  <C:indexes C:type="group">
    <{$indexes.index}>
  </C:indexes>
</C:item>
